html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}
.nota {
    position: absolute;
}
header {
    width: 100%;
    height: 86px;
}
#header-wrapper {
    height: 100%;
}
#logo {
    width: 30%;
    height: 100%;
    background: grey center;
    float: left;
    padding-left: 20px;
}

/* nav */
nav {
    float: right;
}
#main-nav ul {
    margin: 48px 0px 0 0;
    height: 100%;
    padding-right: 20px;
}
nav#main-nav ul li {
    padding: 10px 20px;
    display: inline-block;
}
#main-nav ul li.active {
    border-bottom: darkslategray solid 2px;
}

section {
    background: #efefef;
    width: 80%;
    margin: auto;
}

section img {
    margin: 0 28px;
}

.subtitulo {
    margin-left: 15px;
}

#section-inner {
    padding: 1px 15px 15px;
}

code.codigo {
	margin: 10px 15px;
	padding: 25px 25px;
	background: #fff;
	min-width: 75%;
	display: block;
}
footer {
    background: #a2a2a2;
    height: 16%;
    padding: 20px 0;
}

footer table {
    width: 100%;
}

footer form {
    margin: auto;
}

footer table td {
    text-align: center;
}